@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/space-grotesk");

$font1: 'Poppins';
$font2: 'Space Grotesk', sans-serif;
$cairaWhite: #f2f2f2;
$cairaPurple: rgb(37, 40, 89);
$cairaPink: rgb(251, 149, 243);

h1,h2,h3{
    font-family: $font2;
}
p,a,label,input{
    font-family: $font1;
}
h1{
    font-size: 52px;
    font-weight: bold;
}
h2{
    font-size: 42px;
    font-weight: bold;
}
h3{
    font-size: 34px;
}

button{
    background-color: transparent;
    border-radius: 50px;
    padding: 10px;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    transition: width 0.2s linear 0.2s,height 0.2s linear 0.2s,font-size 0.2s linear 0.2s;
    &.pink{
        border: 2px solid $cairaPink;
        color: $cairaPink
    }
    &.purple{
        border: 2px solid $cairaPurple;
        color: $cairaPurple;
    }
    &:hover{
        cursor: pointer;
        color: $cairaWhite !important;
        //font-weight: bold;
        background: -webkit-gradient(linear, right top, left top, from($cairaPurple), to($cairaPink));
        background: linear-gradient(to right, $cairaPurple, $cairaPink);
        border: 2px solid $cairaWhite;
    }
    a{
        text-decoration: none;
        color: $cairaPurple;
    }
}